/* ==========================
   COMPONENTS (HEADER, NAV, CARD, etc.)
   ========================== */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: black;
  color: white;
}

#header div {
  display: flex;
  align-items: center;
  column-gap: 10px;
  a {
    text-decoration: none;
    color: white;
    .underline-a {
      display: block;
      height: 2px;
      background-color: white;
      width: 0%;
      transition: width 0.3s;
    }
  }
  a:hover {
    cursor: pointer;
    .underline-a {
      width: 100%;
    }
  }
}

.hero {
  display: grid;
  place-items: center;
  div {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 8rem;
    margin-bottom: 4rem;
  }
  h4,
  a h4 {
    font-size: 1.5rem;
  }

  a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 25px;
    transition: color 0.3s, background-color 0.3s;
    border-width: 2px;
    border-style: solid;
  }
  a:hover {
    background-color: white;
    color: black;
    border-color: black;
    border-width: 2px;
    border-style: solid;
  }
}

#main-features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  span {
    font-size: 2rem;
    text-align: center;
  }
}

#footer {
  position: sticky;
  bottom: 0;
  background-color: white;
  color: black;
  div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "ton-top ton-top"
      "ton-left-bottom ton-right-bottom";

    .ton-top {
      grid-area: ton-top;
    }

    .ton-left-bottom {
      grid-area: ton-left-bottom;
    }

    .ton-right-bottom {
      grid-area: ton-right-bottom;
    }
  }
}

/* ==========================
   LAYOUT & CONTAINERS
   ========================== */
main {
  display: grid;
  place-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  .background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* blur effect */
    filter: blur(5px);
  }
  h1,
  h4,
  #main-features span {
    text-shadow: 0 0 10px white;
  }
}

/* ==========================
   RESPONSIVE / MEDIA QUERIES
   ========================== */
