* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.google-sans-hero {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}

h1, h2, h3, h4, h5, h6, p, span, a, div {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}
